<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImovServices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88708AE11BB00BE500E4E0C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88708AFA1BB00BE500E4E0C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88708B051BB00BE500E4E0C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
